@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato,sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main page image and cover text*/

#cover-text, #cover-text h2 {
    color:#fff;

}

#page-image-outer {
    clear:both;
    width:550px; 
    float: right;
    margin-top: 30px;
}

#home-page-text {
    margin-top: 30px;
    margin-left: 30px;
    width:650px;
    float: left;
}

.main-image {
    width: 250px;
    margin-right: 20px;
}

