@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body, h2, h3 {
    font-family: Lato,sans-serif;
    color: #3a3a3a;
}

body {
    font-weight: 300;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    margin-top: 15px;
}

#menu {
    margin-top: 1rem;
    font-size: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    float: right;
    background-color: #3a3a3a;
    color:#C0C0C0;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left; 
    list-style: none;
    border-left: 1px solid white;
    text-align: center;
    
}


#menu a {
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
}

#menu li:hover {
    color: #3a3a3a;
    background-color:#C0C0C0;
}

.active {
    color: #3a3a3a;
    background-color:#C0C0C0;
}

#page-image-section {
    clear:both;
    width: 45%; 
    float: right;
    margin-top: 50px;
}

.main-image {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.main-image-within-figure {
    width: 90%;
    margin-left: 5%;
}

figcaption {
    text-align: center;
    font-weight: 800;
    color: #3a3a3a;
}

#main-page-text  {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10%;
    width: 50%;
    float: left;
    padding:5px;
    line-height: 1.4;
    font-size: 150%;
}

#main-page-text p {
    clear:left;
    column-count: 2;
}

#main-page-text a {
    text-decoration: none;
    color: #0000EE ;
    font-weight: 675;
}

#main-page-text a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-page-text a:visited {
    color: #551A8B;
}

footer {
    clear:both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3a3a;
    color:#C0C0C0;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1% 3% 1% 3%;
    padding: 1% 2% 1% 2%;
    background-color: #3a3a3a;
    color:#C0C0C0;
}

.social-networks i:hover {
    background-color: #3a3a3a;
    color:#C0C0C0;
    color: #3a3a3a;
    background-color:#C0C0C0;
}

/* Form */

.signup-form {
    margin:0 0 0 0;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    position:relative;
    padding: 30px;
}

label {display: block;}

.signup-form > h2 {
    color:#fafafa;
    margin-top: 10px;
    margin-bottom:10px;
}

label {
    clear:left;
}

.form-text {
    clear: both;
}

.text-input {
    background: transparent;
    color:#fafafa;
    width:40%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover {
    border-color:#000000;
}

.signup-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color: #3a3a3a;
    color:#C0C0C0;
    display:block;
}

.signup-button:hover {
    color: #3a3a3a;
    background-color:#C0C0C0;
}

/* for larger to medium screens size from 1280px wide and down (tried to size for down to 1024)*/
@media screen and (max-width: 1280px) {

    #logo {
     
        font-size: 230%;
      
    }
    
    #menu {
        font-size: 50%;
        
    }

    #main-page-text {
        font-size: 90%;
        
    }

}

/* for screens size from 1023px wide and down (tried to size for down to 800)*/
@media screen and (max-width: 1023px) {
    
    #menu {
        width: 100%;
        clear: both;
        font-size: 70%;
        
    }

    #menu li {
        float: centre; 
        
    }

}

/* for screens size from 800px wide and down (tried to size for down to 500)*/
@media screen and (max-width: 800px) {
  
    #menu {     
        font-size: 60%;
        line-height: 35px;
    }

   #menu li {
       width: 100%;
    }

    #page-image-section {
        width: 100%; 
        float: center;
        margin-top: 20px;
    }

    .main-image {
        width: 30%;
        float: centre;
        margin-right: 10%;
        margin-left: 10%;
    }

    #main-page-text {
        clear: both;
        width:90%;
        float: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    #main-page-text p {
        column-count: 1;
    }

}

